<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto&display=swap');
    </style>
    <title>Login</title>

</head>
<body>
    <form action="/esqueci" method="post">
        <label class="email">
            <h1>recuperar senha</h1>
            <span>Email</span>
            <input type="text" name="email" id="email">
        </label>

        <div class="entrar">
            <a href="/login">fazer login</a>
            <button type="submit">lembrar</button>
        </div>
    </form>
</body>
</html>